/* Profile Banner Styles */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--off-white);
}
.profileImg {
    margin-top: 2rem;
    width: 100%;
    max-width: 20rem;
    border-radius: 31.25rem;
    border: 0.5rem solid var(--dk-blue);
    box-shadow: 2px 2px 8px var(--md-blue);
}

.profileSocialsIcon {
    color: var(--font-grey);
}

.profileSocialsIcon:hover {
    color: var(--md-blue);
}

.profileTextBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profileTitleBox {
    display: flex;
    flex-direction: column;
}

.profileTitle1,
.profileTitle2,
.parallaxTitle {
    color: var(--font-grey);
    font-family: var(--font-title-family);
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 3px var(--md-blue);
}

.profileText {
    max-width: 48ch;
    color: var(--font-grey);
    padding: 1rem;
    font-family: var(--font-body-family);
    font-size: 1rem;
    text-align: center;
}
.profilePrideFlagContainer {
    padding-left: 1rem;
}
.profilePrideFlag {
    position: absolute;
    transform: rotate(10deg);
}
.profileButtonContainer {
    margin-top: 1rem;
}
.button,
.parallaxButton,
.parallaxCloseButton {
    border-radius: 30px;
    padding: 1rem;
    text-transform: none;
    white-space: nowrap;
}
.parallaxCloseButton {
    margin-bottom: 2rem;
    color: var(--off-white);
    font-family: var(--font-body-family);
    white-space: nowrap;
}
.button:hover,
.parallaxButton:hover,
.parallaxCloseButton:hover {
    color: var(--lt-blue);
    background: var(--dk-blue);
    box-shadow: 2px 2px 5px var(--dk-grey);
    transition: all 0.2s ease-in-out;
}
.buttonText {
    font-family: var(--font-body-family);
}

/* Parallax Banner Styles */
.parallaxBanner {
    background: url('../../public/img/photo9.webp') center / cover no-repeat;
    background-attachment: fixed;
    padding: 4rem 0 4rem 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.parallaxCenteredContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.parallaxTop,
.parallaxBottom {
    width: 100%;
    display: flex;
    justify-content: center;
}
.parallaxContainer1,
.parallaxContainer2 {
    background: var(--transparent-white);
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px var(--dk-blue);
}
.parallaxDrawerContainer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh;
    /* max-height: 0; */
    width: 100%;
    max-width: 0;
    background: var(--dark-gradient);
    padding-top: 5.19rem;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}
.parallaxDrawerInnerContainer,
.parallaxDrawerInnerContainerMid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showContainer {
    min-height: 100vh;
    max-width: 100%;
}
.parallaxContainer1 {
    margin-bottom: 4rem;
}

.parallaxIcon {
    background: var(--off-white);
    padding: 5px;
    border-radius: 30px;
    width: 3rem;
    height: 3rem;
}
.parallaxCloseIcon {
    font-size: 3rem;
    color: var(--off-white);
}
.parallaxTitle {
    padding: 2rem 0 0 0;
    font-size: 2rem;
    white-space: nowrap;
}
.parallaxText {
    color: var(--font-grey);
    font-family: var(--font-body-family);
    font-size: 1rem;
    /* font-weight: 700; */
    text-align: center;
    white-space: nowrap;
}
.parallaxListBox {
    display: flex;
    align-items: center;
}
.parallaxDrawerText {
    max-width: 52ch;
    margin: 2rem;
    color: var(--off-white);
    font-size: 1.25rem;
    font-family: var(--font-body-family);
    /* text-align: center; */
}
.parallaxImg {
    width: 90%;
    max-width: 45rem;
    border: 1px solid var(--dk-blue);
    border-radius: 30px;
}
.parallaxImg2 {
    width: 50%;
    max-width: 30rem;
    border: 1px solid var(--dk-blue);
    border-radius: 30px;
}
/* Cards Banner Styles  */
.cardsBanner {
    background: var(--dk-grey);
    width: 100%;
}
.cardsContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.card {
    margin: 2rem;
    max-width: fit-content;
    background: var(--off-white);
    border-radius: 0.5rem;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardsIcon {
    color: var(--dk-grey);
    width: 5rem;
    height: 5rem;
}
.cardsTitle {
    padding: 1rem 0rem 1rem 0rem;
    color: var(--dk-grey);
    font-family: var(--font-title-family);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.cardsText {
    max-width: 52ch;
    color: var(--dk-grey);
    font-family: var(--font-body-family);
}

/* SMALL VIEW*/
@media screen and (min-width: 600px) {
    /* Profile Banner Styles */
    .profile {
        flex-direction: row-reverse;
        justify-content: center;
    }
    .profileImg {
        max-width: 50%;
        margin-right: 1rem;
    }
    .profileTextBox {
        align-items: flex-start;
        padding: 1.5rem;
    }

    .profileTitle1,
    .profileTitle2 {
        font-size: 3rem;
        text-align: left;
    }

    .profileText {
        font-size: 1.25rem;
        padding: 2rem 0 2rem 0;
        text-align: left;
    }

    .profileSocialsBox {
        width: 100%;
        padding: 0 0 0 3rem;
        position: relative;
    }
    .profileButtonContainer {
        margin-top: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .buttonText,
    .closeButtonText {
        font-size: 1.25rem;
    }
    .buttonIcon,
    .closeButtonIcon {
        width: 2.5rem;
        height: 2.5rem;
    }

    /* Parallax Banner Styles */
    .parallaxTitle {
        font-size: 3rem;
    }
    .parallaxText {
        font-size: 1.25rem;
    }
}

/* MEDIUM VIEW */
@media screen and (min-width: 900px) {
    /* Profile Banner Styles */
    .profileImg {
        max-width: 25rem;
    }
}

/* LARGE VIEW */
@media screen and (min-width: 1200px) {
    /* Profile Banner Styles */
    .profileTitle1,
    .profileTitle2 {
        font-size: 4rem;
    }
    .profileTitle2 {
        padding: 0 0 0 3.5rem;
    }
    .profileText {
        font-size: 2rem;
        padding: 2rem 0 2rem 3.5rem;
    }

    .buttonText,
    .closeButtonText {
        font-size: 2rem;
    }
    .buttonIcon,
    .closeButtonIcon {
        width: 3.5rem;
        height: 3.5rem;
    }

    /* Parallax Banner Styles */
    .parallaxCenteredContainer {
        flex-direction: row;
    }
    .parallaxTop,
    .parallaxBottom {
        width: 100%;
        display: flex;
        justify-content: unset;
    }
    .parallaxTop,
    .parallaxBottom {
        height: 100%;
    }
    .parallaxBottom {
        flex-direction: row-reverse;
    }
    .parallaxContainer1,
    .parallaxContainer2 {
        width: unset;
        max-width: 80%;
        margin: unset;
        padding: 3rem;
    }
    .parallaxDrawerInnerContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }
    .parallaxDrawerInnerContainerMid {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 2rem;
    }
    .parallaxImg {
        width: 40vw;
    }
    .parallaxImg2 {
        width: 20vw;
    }
    .parallaxTitle {
        font-size: 4rem;
    }
    .parallaxText {
        flex-grow: 1;
        font-size: 2rem;
    }
    .parallaxDrawerText {
        max-width: 32ch;
        font-size: 2rem;
    }
    .cardsContainer {
        flex-direction: row;
    }
}

/* X-LARGE VIEW */
@media screen and (min-width: 1536px) {
    /* Profile Banner Styles */
    .profileImg {
        margin-right: none;
    }

    /* Parallax Banner Styles */
}

