.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--off-white);
}
.profileImg {
    display: block;
    margin: 2rem 0 1rem 0;
    min-width: none;
    max-width: 20rem;
    border-radius: 31.25rem;
    border: 0.5rem solid var(--dk-blue);
    box-shadow: 2px 2px 8px var(--md-blue);
}

.profileSocialsIcon {
    color: var(--font-grey);
}

.profileSocialsIcon:hover {
    color: var(--md-blue);
}

/* .profileImg2 {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(/static/media/heropfp.7bb160c….png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
} */

.profileTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profileTitleBox {
    display: flex;
    flex-direction: column;
}

.profileTitle1,
.profileTitle2 {
    color: var(--font-grey);
    font-family: var(--font-title-family);
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 3px var(--md-blue);
}

.profileText {
    max-width: 48ch;
    color: var(--font-grey);
    padding: 1rem;
    font-family: var(--font-body-family);
    font-size: 1rem;
    text-align: center;
}

/* SMALL VIEW*/
@media screen and (min-width: 600px) {
    .profile {
        flex-direction: row-reverse;
        justify-content: center;
    }

    .profileTextBox {
        align-items: flex-start;
        padding: 1.5rem;
    }

    .profileTitle1,
    .profileTitle2 {
        text-align: left;
    }

    .profileText {
        padding: 2rem 0 2rem 0;
        text-align: left;
    }

    .profileSocialsBox {
        width: 100%;
        padding: 0 0 0 3rem;
    }
}

/* MEDIUM VIEW */
@media screen and (min-width: 900px) {
    .profileTitle2 {
        padding: 0 0 0 3.5rem;
    }
    .profileText {
        padding: 2rem 0 2rem 3.5rem;
    }
}

/* LARGE VIEW */
@media screen and (min-width: 1200px) {
    .profileTitle1,
    .profileTitle2 {
        font-size: 3.25rem;
    }

    .profileText {
        font-size: 1.5rem;
    }
}

/* X-LARGE VIEW */
@media screen and (min-width: 1536px) {
}

