/* Profile Banner Styles */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: var(--off-white);
}
.profileImg {
    margin-top: 2rem;
    width: 100%;
    max-width: 20rem;
    border-radius: 31.25rem;
    border: 0.5rem solid var(--dk-blue);
    box-shadow: 2px 2px 8px var(--md-blue);
}

.profileSocialsIcon {
    color: var(--font-grey);
}

.profileSocialsIcon:hover {
    color: var(--md-blue);
}

.profileTextBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profileTitleBox {
    display: flex;
    flex-direction: column;
}

.profileTitle1,
.profileTitle2,
.parallaxTitle,
.cardsHeader {
    color: var(--font-grey);
    font-family: var(--font-title-family);
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px 3px var(--md-blue);
}

.profileText {
    max-width: 48ch;
    color: var(--font-grey);
    padding: 1rem;
    font-family: var(--font-body-family);
    font-size: 1rem;
    text-align: center;
}
.profilePrideFlagContainer {
    padding-left: 1rem;
}
.profilePrideFlag {
    position: absolute;
}
.profileButtonContainer {
    margin-top: 1rem;
}
.button {
    border-radius: 30px;
    padding: 1rem;
    text-transform: none;
    white-space: nowrap;
}

.button:hover {
    color: var(--md-blue);
    /* background: var(--lt-blue); */
}

/* Parallax Banner Styles */
.parallaxBanner {
    background: url('../../public/img/photo9.webp') center / cover no-repeat;
    background-attachment: fixed;
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.parallaxContainer1,
.parallaxContainer2 {
    background: var(--transparent-white);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px var(--dk-blue);
}

.parallaxContainer1 {
    margin-bottom: 4rem;
}

.parallaxIcon {
    background: var(--off-white);
    padding: 5px;
    border-radius: 30px;
    width: 3rem;
    height: 3rem;
}

.parallaxTitle {
    padding: 2rem 0 0 0;
    font-size: 2rem;
    white-space: nowrap;
}

.parallaxText {
    color: var(--font-grey);
    font-family: var(--font-body-family);
    font-size: 1rem;
    /* font-weight: 700; */
    text-align: center;
    white-space: nowrap;
}
.parallaxListButton {
    border-radius: 30px;
}

/* Cards Banner Styles  */
.cardsBanner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: var(--off-white);
}

/* SMALL VIEW*/
@media screen and (min-width: 600px) {
    /* Profile Banner Styles */
    .profile {
        flex-direction: row-reverse;
        justify-content: center;
    }
    .profileImg {
        max-width: 50%;
        margin-right: 1rem;
    }
    .profileTextBox {
        align-items: flex-start;
        padding: 1.5rem;
    }

    .profileTitle1,
    .profileTitle2 {
        font-size: 3rem;
        text-align: left;
    }

    .profileText {
        font-size: 1.25rem;
        padding: 2rem 0 2rem 0;
        text-align: left;
    }

    .profileSocialsBox {
        width: 100%;
        padding: 0 0 0 3rem;
        position: relative;
    }
    .profileButtonContainer {
        margin-top: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .buttonText {
        font-size: 1.25rem;
    }
    .buttonIcon {
        width: 2.5rem;
        height: 2.5rem;
    }

    /* Parallax Banner Styles */
    .parallaxTitle {
        font-size: 3rem;
    }
    .parallaxText {
        font-size: 1.25rem;
    }
}

/* MEDIUM VIEW */
@media screen and (min-width: 900px) {
    /* Profile Banner Styles */
    .profileImg {
        max-width: 25rem;
    }
}

/* LARGE VIEW */
@media screen and (min-width: 1200px) {
    /* Profile Banner Styles */
    .profileTitle1,
    .profileTitle2 {
        font-size: 4rem;
    }
    .profileTitle2 {
        padding: 0 0 0 3.5rem;
    }
    .profileText {
        font-size: 2rem;
        padding: 2rem 0 2rem 3.5rem;
    }

    .buttonText {
        font-size: 2rem;
    }
    .buttonIcon {
        width: 3.5rem;
        height: 3.5rem;
    }

    /* Parallax Banner Styles */
    .parallaxBanner {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .parallaxContainer1,
    .parallaxContainer2 {
        padding: 2rem;
        width: 30%;
    }
    .parallaxContainer1 {
        margin-bottom: 0;
    }
    .parallaxTitle {
        font-size: 4rem;
    }
    .parallaxText {
        font-size: 2rem;
    }
}

/* X-LARGE VIEW */
@media screen and (min-width: 1536px) {
    /* Profile Banner Styles */
    .profileImg {
        margin-right: none;
    }

    /* Parallax Banner Styles */
}

