.appBar {
    background: var(--dk-blue);
    position: sticky;
}
.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbarTitle {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-title-family);
    letter-spacing: 0.3rem;
    color: var(--off-white);
    text-decoration: none;
}

.navbarButton {
    color: var(--off-white);
    font-family: var(--font-body-family);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

/* SMALL VIEW*/
@media screen and (min-width: 600px) {
}
/* MEDIUM VIEW */
@media screen and (min-width: 900px) {
}
/* LARGE VIEW */
@media screen and (min-width: 1200px) {
}
/* X-LARGE VIEW */
@media screen and (min-width: 1536px) {
}
